TERMII_BASE_URL=https://v4.api.termii.com/api
TERMII_API_KEY=your_termii_api_key_here
TERMII_SENDER_ID=Afrimillions

ALOTBI_URL=https://backend.ng.afri-millions.com/
ALOTBI_USERNAME=your_alotbi_username_here
ALOTBI_PASSWORD=your_alotbi_password_here

INACTIVITY_HOURS=48
COOLDOWN_HOURS=24
MAX_MESSAGES=0
MAX_CONCURRENCY=50
SMS_TIMEOUT=30

ENABLED_FEATURES=welcome,inactive
LOGIN_WINDOW_HOURS=1
WELCOME_MESSAGE=Hi {first_name}, great to see you back! We missed you at AfriMillions.
INACTIVE_MESSAGE=Hi {first_name}, we miss you! Log in to AfriMillions to keep playing.

DATA_FOLDER=data
CYCLE_END_HOUR=20
DB_PATH=app/notified_users.db

START_TIME=14:00
END_TIME=18:00